--
-- PostgreSQL database dump
--

\restrict UK5MKTxbgb9MqJfyNIenX4Zr4myobBwuW7ttiXYlWCVmJdRHheJCNc7wvcJ8KCb

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO monitoreo;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO monitoreo;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO monitoreo;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ciudad_ciudad; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.ciudad_ciudad (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.ciudad_ciudad OWNER TO monitoreo;

--
-- Name: ciudad_ciudad_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.ciudad_ciudad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ciudad_ciudad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO monitoreo;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO monitoreo;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO monitoreo;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO monitoreo;

--
-- Name: marca_marca; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.marca_marca (
    id bigint NOT NULL,
    dispositivo character varying(50) NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.marca_marca OWNER TO monitoreo;

--
-- Name: marca_marca_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.marca_marca ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.marca_marca_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: modelo_modelo; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.modelo_modelo (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    marca_id bigint NOT NULL
);


ALTER TABLE public.modelo_modelo OWNER TO monitoreo;

--
-- Name: modelo_modelo_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.modelo_modelo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.modelo_modelo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pdu_pdu; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.pdu_pdu (
    id bigint NOT NULL,
    nfb character varying(20),
    serie character varying(50),
    ip inet,
    usuario character varying(50),
    clave character varying(50),
    admin boolean NOT NULL,
    modelo_id bigint,
    regional_id bigint NOT NULL,
    ubicacion_id bigint NOT NULL
);


ALTER TABLE public.pdu_pdu OWNER TO monitoreo;

--
-- Name: pdu_pdu_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.pdu_pdu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pdu_pdu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: regional_regional; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.regional_regional (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.regional_regional OWNER TO monitoreo;

--
-- Name: regional_regional_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.regional_regional ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.regional_regional_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ubicacion_ubicacion; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.ubicacion_ubicacion (
    id bigint NOT NULL,
    tipo character varying(100) NOT NULL,
    nombre character varying(100) NOT NULL,
    ciudad_id bigint NOT NULL
);


ALTER TABLE public.ubicacion_ubicacion OWNER TO monitoreo;

--
-- Name: ubicacion_ubicacion_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.ubicacion_ubicacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ubicacion_ubicacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_usuario; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.usuario_usuario (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    usuario character varying(30) NOT NULL,
    estado boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    rol character varying(20) NOT NULL,
    cambiar_password boolean NOT NULL
);


ALTER TABLE public.usuario_usuario OWNER TO monitoreo;

--
-- Name: usuario_usuario_groups; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.usuario_usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuario_usuario_groups OWNER TO monitoreo;

--
-- Name: usuario_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.usuario_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.usuario_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_usuario_user_permissions; Type: TABLE; Schema: public; Owner: monitoreo
--

CREATE TABLE public.usuario_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuario_usuario_user_permissions OWNER TO monitoreo;

--
-- Name: usuario_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: monitoreo
--

ALTER TABLE public.usuario_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: monitoreo
--



--
-- Data for Name: ciudad_ciudad; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.ciudad_ciudad (id, nombre) FROM stdin;
1	La Paz
2	Cochabamba
3	Santa Cruz
4	Oruro
5	Potosi
6	Chuquisaca
7	Tarija
8	Beni
9	Pando
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-10-28 21:51:53.213304+00	1	monitoreo	2	[{"changed": {"fields": ["Rol"]}}]	12	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	pdu	pdu
7	ciudad	ciudad
8	marca	marca
9	modelo	modelo
10	regional	regional
11	ubicacion	ubicacion
12	usuario	usuario
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: monitoreo
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: monitoreo
--



--
-- Data for Name: marca_marca; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.marca_marca (id, dispositivo, nombre) FROM stdin;
1	PDU	TRIPP LITE
2	PDU	ATEN
3	UPS	TRIPP LITE
6	SWITCH	FORTINET
\.


--
-- Data for Name: modelo_modelo; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.modelo_modelo (id, nombre, marca_id) FROM stdin;
1	PDUMV20HVNETLX	1
5	PDUMNH32HV	1
2	PE6324LG	2
10	FORTISWITCH 148F	6
\.


--
-- Data for Name: pdu_pdu; Type: TABLE DATA; Schema: public; Owner: monitoreo
--



--
-- Data for Name: regional_regional; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.regional_regional (id, nombre) FROM stdin;
1	Nacional
2	Andes
3	Llanos
4	Valles
\.


--
-- Data for Name: ubicacion_ubicacion; Type: TABLE DATA; Schema: public; Owner: monitoreo
--



--
-- Data for Name: usuario_usuario; Type: TABLE DATA; Schema: public; Owner: monitoreo
--



--
-- Data for Name: usuario_usuario_groups; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.usuario_usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: usuario_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: monitoreo
--

COPY public.usuario_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: ciudad_ciudad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.ciudad_ciudad_id_seq', 9, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 30, true);


--
-- Name: marca_marca_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.marca_marca_id_seq', 6, true);


--
-- Name: modelo_modelo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.modelo_modelo_id_seq', 10, true);


--
-- Name: pdu_pdu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.pdu_pdu_id_seq', 58, true);


--
-- Name: regional_regional_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.regional_regional_id_seq', 4, true);


--
-- Name: ubicacion_ubicacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.ubicacion_ubicacion_id_seq', 58, true);


--
-- Name: usuario_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.usuario_usuario_groups_id_seq', 1, false);


--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.usuario_usuario_id_seq', 7, true);


--
-- Name: usuario_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: monitoreo
--

SELECT pg_catalog.setval('public.usuario_usuario_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: ciudad_ciudad ciudad_ciudad_nombre_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.ciudad_ciudad
    ADD CONSTRAINT ciudad_ciudad_nombre_key UNIQUE (nombre);


--
-- Name: ciudad_ciudad ciudad_ciudad_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.ciudad_ciudad
    ADD CONSTRAINT ciudad_ciudad_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: marca_marca marca_marca_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.marca_marca
    ADD CONSTRAINT marca_marca_pkey PRIMARY KEY (id);


--
-- Name: modelo_modelo modelo_modelo_nombre_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.modelo_modelo
    ADD CONSTRAINT modelo_modelo_nombre_key UNIQUE (nombre);


--
-- Name: modelo_modelo modelo_modelo_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.modelo_modelo
    ADD CONSTRAINT modelo_modelo_pkey PRIMARY KEY (id);


--
-- Name: pdu_pdu pdu_pdu_ip_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_ip_key UNIQUE (ip);


--
-- Name: pdu_pdu pdu_pdu_nfb_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_nfb_key UNIQUE (nfb);


--
-- Name: pdu_pdu pdu_pdu_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_pkey PRIMARY KEY (id);


--
-- Name: pdu_pdu pdu_pdu_serie_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_serie_key UNIQUE (serie);


--
-- Name: regional_regional regional_regional_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.regional_regional
    ADD CONSTRAINT regional_regional_pkey PRIMARY KEY (id);


--
-- Name: ubicacion_ubicacion ubicacion_ubicacion_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.ubicacion_ubicacion
    ADD CONSTRAINT ubicacion_ubicacion_pkey PRIMARY KEY (id);


--
-- Name: usuario_usuario_groups usuario_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_groups
    ADD CONSTRAINT usuario_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: usuario_usuario_groups usuario_usuario_groups_usuario_id_group_id_a4cfb0b8_uniq; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_groups
    ADD CONSTRAINT usuario_usuario_groups_usuario_id_group_id_a4cfb0b8_uniq UNIQUE (usuario_id, group_id);


--
-- Name: usuario_usuario usuario_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario
    ADD CONSTRAINT usuario_usuario_pkey PRIMARY KEY (id);


--
-- Name: usuario_usuario_user_permissions usuario_usuario_user_per_usuario_id_permission_id_c0a85055_uniq; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_user_permissions
    ADD CONSTRAINT usuario_usuario_user_per_usuario_id_permission_id_c0a85055_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: usuario_usuario_user_permissions usuario_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_user_permissions
    ADD CONSTRAINT usuario_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuario_usuario usuario_usuario_usuario_key; Type: CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario
    ADD CONSTRAINT usuario_usuario_usuario_key UNIQUE (usuario);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: ciudad_ciudad_nombre_67357048_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX ciudad_ciudad_nombre_67357048_like ON public.ciudad_ciudad USING btree (nombre varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: modelo_modelo_marca_id_cdb96319; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX modelo_modelo_marca_id_cdb96319 ON public.modelo_modelo USING btree (marca_id);


--
-- Name: modelo_modelo_nombre_67876f51_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX modelo_modelo_nombre_67876f51_like ON public.modelo_modelo USING btree (nombre varchar_pattern_ops);


--
-- Name: pdu_pdu_modelo_id_67e224cf; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX pdu_pdu_modelo_id_67e224cf ON public.pdu_pdu USING btree (modelo_id);


--
-- Name: pdu_pdu_nfb_85871f23_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX pdu_pdu_nfb_85871f23_like ON public.pdu_pdu USING btree (nfb varchar_pattern_ops);


--
-- Name: pdu_pdu_regional_id_3e5a2ec9; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX pdu_pdu_regional_id_3e5a2ec9 ON public.pdu_pdu USING btree (regional_id);


--
-- Name: pdu_pdu_serie_340de3c4_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX pdu_pdu_serie_340de3c4_like ON public.pdu_pdu USING btree (serie varchar_pattern_ops);


--
-- Name: pdu_pdu_ubicacion_id_0f2af22b; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX pdu_pdu_ubicacion_id_0f2af22b ON public.pdu_pdu USING btree (ubicacion_id);


--
-- Name: ubicacion_ubicacion_ciudad_id_503c58b3; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX ubicacion_ubicacion_ciudad_id_503c58b3 ON public.ubicacion_ubicacion USING btree (ciudad_id);


--
-- Name: usuario_usuario_groups_group_id_b9c090f8; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX usuario_usuario_groups_group_id_b9c090f8 ON public.usuario_usuario_groups USING btree (group_id);


--
-- Name: usuario_usuario_groups_usuario_id_62de76a1; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX usuario_usuario_groups_usuario_id_62de76a1 ON public.usuario_usuario_groups USING btree (usuario_id);


--
-- Name: usuario_usuario_user_permissions_permission_id_5cad0a4b; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX usuario_usuario_user_permissions_permission_id_5cad0a4b ON public.usuario_usuario_user_permissions USING btree (permission_id);


--
-- Name: usuario_usuario_user_permissions_usuario_id_5969a193; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX usuario_usuario_user_permissions_usuario_id_5969a193 ON public.usuario_usuario_user_permissions USING btree (usuario_id);


--
-- Name: usuario_usuario_usuario_5d9f6571_like; Type: INDEX; Schema: public; Owner: monitoreo
--

CREATE INDEX usuario_usuario_usuario_5d9f6571_like ON public.usuario_usuario USING btree (usuario varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuario_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuario_usuario_id FOREIGN KEY (user_id) REFERENCES public.usuario_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: modelo_modelo modelo_modelo_marca_id_cdb96319_fk_marca_marca_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.modelo_modelo
    ADD CONSTRAINT modelo_modelo_marca_id_cdb96319_fk_marca_marca_id FOREIGN KEY (marca_id) REFERENCES public.marca_marca(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pdu_pdu pdu_pdu_modelo_id_67e224cf_fk_modelo_modelo_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_modelo_id_67e224cf_fk_modelo_modelo_id FOREIGN KEY (modelo_id) REFERENCES public.modelo_modelo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pdu_pdu pdu_pdu_regional_id_3e5a2ec9_fk_regional_regional_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_regional_id_3e5a2ec9_fk_regional_regional_id FOREIGN KEY (regional_id) REFERENCES public.regional_regional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pdu_pdu pdu_pdu_ubicacion_id_0f2af22b_fk_ubicacion_ubicacion_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.pdu_pdu
    ADD CONSTRAINT pdu_pdu_ubicacion_id_0f2af22b_fk_ubicacion_ubicacion_id FOREIGN KEY (ubicacion_id) REFERENCES public.ubicacion_ubicacion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ubicacion_ubicacion ubicacion_ubicacion_ciudad_id_503c58b3_fk_ciudad_ciudad_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.ubicacion_ubicacion
    ADD CONSTRAINT ubicacion_ubicacion_ciudad_id_503c58b3_fk_ciudad_ciudad_id FOREIGN KEY (ciudad_id) REFERENCES public.ciudad_ciudad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_usuario_groups usuario_usuario_grou_usuario_id_62de76a1_fk_usuario_u; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_groups
    ADD CONSTRAINT usuario_usuario_grou_usuario_id_62de76a1_fk_usuario_u FOREIGN KEY (usuario_id) REFERENCES public.usuario_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_usuario_groups usuario_usuario_groups_group_id_b9c090f8_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_groups
    ADD CONSTRAINT usuario_usuario_groups_group_id_b9c090f8_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_usuario_user_permissions usuario_usuario_user_permission_id_5cad0a4b_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_user_permissions
    ADD CONSTRAINT usuario_usuario_user_permission_id_5cad0a4b_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuario_usuario_user_permissions usuario_usuario_user_usuario_id_5969a193_fk_usuario_u; Type: FK CONSTRAINT; Schema: public; Owner: monitoreo
--

ALTER TABLE ONLY public.usuario_usuario_user_permissions
    ADD CONSTRAINT usuario_usuario_user_usuario_id_5969a193_fk_usuario_u FOREIGN KEY (usuario_id) REFERENCES public.usuario_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict UK5MKTxbgb9MqJfyNIenX4Zr4myobBwuW7ttiXYlWCVmJdRHheJCNc7wvcJ8KCb

